@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rozha+One&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
  overflow-x: hidden;
  font-size: 300;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 400;
  font-family: "Rozha One", serif;
}

h1 {
  font-size: 50px;
  line-height: 1.4em;
}

h2 {
  font-size: 56px;
  line-height: 75px;
  letter-spacing: 0;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 26px;
  line-height: 1.6em;
}

h5 {
  font-size: 20px;
  line-height: 1.6em;
}

h6 {
  font-size: 18px;
  line-height: 1.8;
}

a, button, input {
  outline: none !important;
}

.btn {
  padding: 15px 22px;
  border-radius: 0;
  border: 2px solid;
  -webkit-transition: all 0.25s !important;
  -o-transition: all 0.25s !important;
  transition: all 0.25s !important;
}

.btn-outline-light {
  border-color: #fff;
  position: relative;
  z-index: 2;
}
.btn-outline-light:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-outline-light:hover {
  background-color: transparent;
  color: #000;
}
.btn-outline-light:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.container-fluid {
  padding-left: 3vw;
  padding-right: 3vw;
}
@media only screen and (max-width: 767.98px) {
  .container-fluid {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media only screen and (max-width: 479px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sec-pt-90 {
  padding-top: 90px;
}
@media only screen and (max-width: 991.98px) {
  .sec-pt-90 {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-pt-90 {
    padding-top: 50px;
  }
}

.sec-pb-90 {
  padding-bottom: 90px;
}
@media only screen and (max-width: 991.98px) {
  .sec-pb-90 {
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-pb-90 {
    padding-bottom: 50px;
  }
}

.sec-pt-120 {
  padding-top: 120px;
}
@media only screen and (max-width: 991.98px) {
  .sec-pt-120 {
    padding-top: 110px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-pt-120 {
    padding-top: 80px;
  }
}

.sec-pb-120 {
  padding-bottom: 120px;
}
@media only screen and (max-width: 991.98px) {
  .sec-pb-120 {
    padding-bottom: 110px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-pb-120 {
    padding-bottom: 80px;
  }
}

.has-sec-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.has-sec-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.has-sep {
  position: relative;
}
.has-sep .sep-area {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: 331px;
  height: 1px;
  background-color: #000;
}
.has-sep .spe1, .has-sep .spe2 {
  position: absolute;
  bottom: 0;
}
.has-sep .spe1::before, .has-sep .spe1::after, .has-sep .spe2::before, .has-sep .spe2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 33px;
  left: 0;
  top: 0;
  background-color: #000;
}
.has-sep .spe1 {
  -webkit-transform: rotate(-45deg) translateX(-50%);
  -ms-transform: rotate(-45deg) translateX(-50%);
  transform: rotate(-45deg) translateX(-50%);
  left: calc(50% + -15px);
  bottom: -11px;
}
.has-sep .spe1::before {
  left: 5px;
  top: 5px;
}
.has-sep .spe2 {
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  bottom: 12px;
  left: calc(50% + -6px);
}
.has-sep .spe2::before {
  left: -5px;
  top: 5px;
}

.text-center.has-sep .sep-area {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.text-light.has-sep .sep-area {
  background-color: #fff;
}
.text-light.has-sep .sep-area .spe1::before, .text-light.has-sep .sep-area .spe1::after, .text-light.has-sep .sep-area .spe2::before, .text-light.has-sep .sep-area .spe2::after {
  background-color: #fff;
}

.sec-title {
  margin-bottom: 50px;
}
.sec-title .title {
  font-size: 30px;
  line-height: 43px;
  color: #000000;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 28px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991.98px) {
  .sec-title .title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-title .title {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (max-width: 575.98px) {
  .sec-title .title {
    font-size: 30px;
    line-height: 40px;
  }
}
.sec-title h2 {
  font-size: 36px;
  line-height: 58px;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 28px;
}
@media only screen and (max-width: 991.98px) {
  .sec-title h2 {
    font-size: 30px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-title h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 575.98px) {
  .sec-title h2 {
    font-size: 28px;
    line-height: 35px;
  }
}
.sec-title h2 .sep {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100px;
  background-color: #2E3F59;
}
.sec-title h2 .sep::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  left: 0;
  background-color: #DFEAFA;
}
.sec-title .sub-title {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 44px;
}
@media only screen and (max-width: 991.98px) {
  .sec-title .sub-title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sec-title .sub-title {
    font-size: 19px;
    line-height: 28px;
  }
}
.sec-title h2 {
  margin-bottom: 25px;
}
.sec-title h2 strong {
  font-weight: bold;
  color: #FF7F00;
}

.sec-title.mb-90 {
  margin-bottom: 90px;
}

.sm-title {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 5px;
}

.md-title {
  font-size: 30px;
  line-height: 43p;
}

.header-area {
  background: transparent;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.header-area .navbar {
  padding: 0;
}
.header-area .navbar .nav-toggle-btn {
  display: none;
}
.header-area .logo img {
  width: 216px;
}
.header-area .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.header-area .nav-area .nav-item {
  position: relative;
  margin-left: 50px;
}
.header-area .nav-area .nav-item .nav-link {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 20px 0px 20px;
  opacity: 1;
}
.header-area .nav-area .nav-item .sub-menu {
  position: absolute;
  top: calc(100% + 12px);
  min-width: 220px;
  padding: 0;
  margin: 0;
  list-style: none;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  padding-top: 7px;
  padding-bottom: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.header-area .nav-area .nav-item .sub-menu li {
  display: block;
}
.header-area .nav-area .nav-item .sub-menu li a {
  position: relative;
  display: block;
  padding: 7px 20px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #171b27;
  text-align: left;
  text-transform: capitalize;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  text-decoration: none;
}
.header-area .nav-area .nav-item .sub-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 17px;
  bottom: 100%;
}
.header-area .nav-area .nav-item:hover .sub-menu {
  top: calc(100% + 8px);
  opacity: 1;
  visibility: visible;
}
.header-area .nav-area .nav-item .sub-menu li {
  position: relative;
}
.header-area .nav-area .nav-item .sub-menu li .sub-menu {
  opacity: 0;
  left: 100%;
  top: 5px;
}
.header-area .nav-area .nav-item .sub-menu li .sub-menu::before {
  display: none;
}
.header-area .nav-area .nav-item .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 0px;
}

.nav-toggle-btn {
  width: 33px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  outline: none !important;
}
.nav-toggle-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #1B1C1E;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-toggle-btn span:nth-child(1) {
  top: 0px;
}
.nav-toggle-btn span:nth-child(2), .nav-toggle-btn span:nth-child(3) {
  top: 9px;
}
.nav-toggle-btn span:nth-child(4) {
  top: 18px;
}

.nav-toggle-btn.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
.nav-toggle-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-toggle-btn.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

@media only screen and (max-width: 991.98px) {
  .header-area .navbar .nav-toggle-btn {
    display: block;
  }
  .header-area .nav-area {
    width: 100%;
    display: none;
  }
  .header-area .nav-area .navbar-nav {
    display: block;
    width: 100%;
    padding-top: 25px;
  }
  .header-area .nav-area .nav-item {
    display: block;
    margin-left: 0;
  }
  .header-area .nav-area .nav-item .nav-link {
    text-align: left;
    border-top: 1px solid #e1e1e1;
    padding: 9px 0;
  }
  .header-area .nav-area .nav-item .sub-menu {
    position: relative;
    opacity: 1 !important;
    visibility: visible;
    transition: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    padding-top: 0;
    padding-top: 0;
    padding-left: 20px;
    display: none;
  }
  .header-area .nav-area .nav-item .sub-menu .sub-menu {
    padding-left: 20px;
  }
  .header-area .nav-area .nav-item .sub-menu::before {
    display: none;
  }
  .header-area .nav-area .nav-item .sub-menu li a {
    text-align: left;
    border-top: 1px solid #e1e1e1;
    padding: 9px 0;
  }
  .header-area .nav-area .nav-item .sub-menu li .sub-menu li a {
    border-top: 1px solid #e1e1e1;
  }
  .header-area .nav-area .nav-item .down-arrow-btn {
    position: absolute;
    right: 0;
    top: 9px;
    display: block;
    padding: 15px;
    cursor: pointer;
    background-color: #f0efef;
  }
  .header-area .nav-area .nav-item .down-arrow-btn::after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 14px;
    content: " ";
    top: 10px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header-area .nav-area .nav-item .down-arrow-btn.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    right: 11px;
  }
}
.hero-slideshow .swiper-slide {
  overflow: hidden;
}
.hero-slideshow .swiper-slide .slide-inner {
  height: 680px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.hero-slideshow .swiper-slide .slide-inner::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero-slideshow .slide-text-content {
  max-width: 620px;
}
.hero-slideshow .slide-text-content .title, .hero-slideshow .slide-text-content p {
  color: #fff;
  margin-bottom: 5px;
}
.hero-slideshow .slide-text-content .title {
  font-size: 36px;
  line-height: 51px;
}
.hero-slideshow .slide-text-content p {
  font-size: 20px;
  line-height: 30px;
}
.hero-slideshow .slide-text-content .btn {
  margin-top: 22px;
}

.has-count-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 50.566'%3E%3Cpath id='Fill_1' data-name='Fill 1' d='M19,50.566a1.321,1.321,0,0,1-.532-.122,39.68,39.68,0,0,1-6.93-3.863A32.939,32.939,0,0,1,6.2,42.022,22.731,22.731,0,0,1,.951,33.433,18.068,18.068,0,0,1,.072,28.94c-.043-.7-.065-1.347-.066-1.972q0-4.651,0-9.3t0-9.3a.243.243,0,0,1,.191-.277,17.93,17.93,0,0,0,4.4-2.175,8,8,0,0,0,.912-.761,1.386,1.386,0,0,0,.48-1.189c-.031-.355,0-.362.318-.451l.011,0L17.557.376l.2-.057c.363-.1.739-.206,1.11-.3A.519.519,0,0,1,19.005,0a.469.469,0,0,1,.122.015c2.451.679,4.925,1.366,7.317,2.031l1.71.475.9.251c.905.252,1.842.513,2.766.767.143.039.213.09.2.26a2.346,2.346,0,0,0,.029.635,1.872,1.872,0,0,0,.669.938,10.117,10.117,0,0,0,1.84,1.264,20.039,20.039,0,0,0,3.246,1.45A.24.24,0,0,1,38,8.363c0,2.9,0,5.853,0,8.7v10.4a19.468,19.468,0,0,1-2.138,8.86,24.026,24.026,0,0,1-3.383,4.958,33.97,33.97,0,0,1-7.64,6.373,38.725,38.725,0,0,1-5.3,2.789A1.321,1.321,0,0,1,19,50.566Zm-.017-48.7a.28.28,0,0,0-.075.009q-2.543.7-5.085,1.413l-.026.007c-1.825.508-3.711,1.033-5.57,1.547a.417.417,0,0,0-.329.293,1.724,1.724,0,0,1-.166.331A6.28,6.28,0,0,1,5.924,7.3,17.764,17.764,0,0,1,2.3,9.233c-.1.04-.168.08-.168.224,0,3.214,0,6.482,0,9.641q0,4.285,0,8.57a17.337,17.337,0,0,0,.516,4.145A18.739,18.739,0,0,0,5.1,37.426a26.127,26.127,0,0,0,5.637,6.163,37.8,37.8,0,0,0,8.114,5.018.35.35,0,0,0,.146.035.367.367,0,0,0,.154-.037,37.214,37.214,0,0,0,3.9-2.064,33.14,33.14,0,0,0,7.369-5.922,21.366,21.366,0,0,0,3.935-5.912,17.188,17.188,0,0,0,1.492-6.793c.018-2.1.014-4.233.01-6.3q0-1.353,0-2.7V16.945c0-2.421,0-4.924.007-7.386a.335.335,0,0,0-.254-.365,16.9,16.9,0,0,1-3.708-2.028,5.347,5.347,0,0,1-1.879-2.178.255.255,0,0,0-.157-.116c-2.578-.72-5.348-1.492-8.717-2.429l-.315-.088c-.529-.148-1.075-.3-1.613-.446l-.016,0A.913.913,0,0,0,18.986,1.865Z'/%3E%3C/svg%3E%0A");
  background-size: contain;
  height: 50px;
  width: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.step-card.text-center .has-count-bg {
  margin-left: auto;
  margin-right: auto;
}

.step-card .sm-title {
  position: relative;
  padding-top: 14px;
  margin-top: 10px;
}
.step-card .sm-title:before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.count-top {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-family: "Rozha One", serif;
  font-weight: 900;
}

.service-card {
  text-align: center;
}
.service-card .md-title {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.service-card .body {
  text-align: left;
}
.service-card .bottom {
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-top: 10px;
}
.service-card .bottom p {
  font-size: 16px;
  margin-bottom: 10px;
}
.service-card .bottom .price {
  font-size: 36px;
  line-height: 46px;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.service-list li {
  position: relative;
  padding-left: 20px;
}
.service-list li::before {
  content: "";
  height: 10px;
  width: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='8px' height='10px' viewBox='0 0 8 10' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cdesc%3ECreated with Lunacy%3C/desc%3E%3Cpath d='M8 1.6539C8.00004 1.62313 7.9911 1.60953 7.95986 1.59929C7.72342 1.5219 7.49468 1.428 7.27634 1.31244C7.13936 1.23994 7.00602 1.16223 6.88904 1.06262C6.8279 1.01058 6.76676 0.956228 6.74828 0.877039C6.73888 0.836608 6.73938 0.79319 6.74218 0.751538C6.74438 0.718416 6.72998 0.707895 6.69942 0.700004C6.44178 0.633646 6.18454 0.565974 5.92716 0.498752C5.29376 0.333328 4.66038 0.16781 4.02678 0.00304309C4.01006 -0.00129683 3.98992 -0.000808358 3.97304 0.0033249C3.88046 0.0260014 3.78836 0.0503313 3.69618 0.0744357C2.90728 0.28076 2.11838 0.487141 1.32948 0.693541C1.25894 0.711991 1.25362 0.712517 1.26028 0.783477C1.26934 0.880045 1.2302 0.956041 1.15924 1.0187C1.09858 1.0723 1.03536 1.12455 0.9672 1.16926C0.68162 1.35668 0.36732 1.49079 0.0401 1.59944C0.00896003 1.60979 -1.99667e-05 1.62341 3.33153e-08 1.65419C0.000960033 2.88052 0.000420033 4.10688 0.00142003 5.33323C0.00154003 5.46323 0.00666003 5.59337 0.01508 5.72313C0.0348 6.02689 0.09994 6.32279 0.20024 6.61188C0.4252 7.26025 0.81164 7.81631 1.30514 8.3104C1.64436 8.65004 2.0226 8.94732 2.42988 9.21216C2.88972 9.51122 3.37408 9.7688 3.88878 9.97605C3.96814 10.008 4.03342 10.008 4.11272 9.97605C4.50046 9.8199 4.87152 9.63471 5.22846 9.42435C5.82524 9.07267 6.37118 8.66342 6.83706 8.16403C7.11672 7.86425 7.35754 7.5396 7.54924 7.18364C7.84584 6.6329 7.9991 6.04945 7.99914 5.43142C7.9992 4.8417 7.99916 4.25197 7.99916 3.66225C7.99916 2.9928 7.99892 2.32334 8 1.6539' id='Path' fill='%23000000' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 10px;
}

.testimonial-card {
  border-radius: 40px;
  position: relative;
}
.testimonial-card p {
  color: #fff;
}
.testimonial-card .name {
  color: #fff;
  color: #fff;
}

.slide-prev-btn, .slide-next-btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 33px;
}

.testimonial-area {
  max-width: 900px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-area .slide-prev-btn, .testimonial-area .slide-next-btn {
  position: absolute;
  top: calc(50% - 45px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.testimonial-area .slide-prev-btn {
  left: 0;
}
.testimonial-area .slide-next-btn {
  right: 0;
}

.footer-area {
  background-color: #000;
  color: #fff;
}
.footer-area .lg-title {
  color: #fff;
  font-size: 36px;
  line-height: 51px;
}

.footer-top {
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-list-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  color: #fff;
}
.footer-list-text li {
  display: inline-block;
  padding: 0 5px;
}
.footer-list-text a {
  color: #fff;
}

.footer-bottom {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=style.css.map */
