.testimonial-card{
	border-radius: 40px;  
	position: relative;  
	p{
		color: #fff; 
	}
	.name{
		color: #fff; 
		color: #fff; 
	}
}
.slide-prev-btn,.slide-next-btn{
	background-color: transparent;
	border-color: transparent;
	color: #fff; 
	font-size: 33px; 
}
.testimonial-area{
	max-width: 900px;
	padding-left: 40px;
	padding-right: 40px;   
	margin-left: auto;
	margin-right: auto; 
	position: relative; 
	.slide-prev-btn,.slide-next-btn{
		position: absolute;  
		top: calc(50% - 45px);  
		@include transform(translateY(-50%)); 
		z-index: 5; 
	}
	.slide-prev-btn{
		left: 0;
	}
	.slide-next-btn{
		right: 0; 
	}
}
